<template>
    <div class="messages">
        <input type="text" class="form-control" v-model="msg">
        <button @click="send" class="btn btn-primary">Send</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                msg: 'Vuejs'
            }
        },
        methods: {
            send() {
                this.$socket.emit('send-message', this.msg)
            }
        },
        mounted() {
            this.$socket.on('new-message', value => {
                console.log('new-message', value);
            })
            this.$socket.on('sendAll', value => {
                console.log('sendAll', value);
            })
        }
    }
</script>

<style scoped>

</style>
