<template>
  <div>
    users
  </div>
</template>

<script>

  export default {
    name: "index",
    data() {
      return {

      }
    },
    mounted() {
      this.$socket.emit('send-message', 'anh bay dz')
    }
  }
</script>

<style scoped>

</style>
